<!DOCTYPE html>
<html>
<head>
	<title>Create Qoute</title>
</head>
<body>
	<section class="form-section">
		<form action="/api/qoute/create" method="POST">
			<fieldset>
				<div>
					<label>Author's name</label> <br>
					<input type="text" name="author" placeholder="author's name">
				</div>
				<br>
				<div>
					<label>Type your qoute here</label> <br>
					<textarea name="qoute"></textarea>
				</div>
				<div>
					<input type="submit" value="Create">
				</div>
			</fieldset>
		</form>
	</section>
</body>
</html>