<!DOCTYPE html>
<html>
<head>
	<title>Delete a Qoute</title>
</head>
<body>
	<section>
		<fieldset>
			<form method="DELETE" action="/api/qoute/delete">
				<div>
					<label>Index of Qoute to be deleted</label> <br>
					<input type="text" name="id">
				</div>
				<div>
					<input type="submit" value="Delete Qoute">
				</div>
			</form>
		</fieldset>
	</section>
</body>
</html>
